In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
from scipy.stats import norm, skew 
from scipy.special import boxcox1p

In [2]:
TC = pd.read_csv('./input/Train_call.txt', sep='\t')

In [3]:
TC.describe()

,Chromosome,Start,End,Nclone,Array.129,Array.34,Array.67,Array.24,Array.22,Array.36,...,Array.64,Array.89,Array.30,Array.35,Array.93,Array.10,Array.123,Array.100,Array.134,Array.130
count,2834.000000,2.834000e+03,2.834000e+03,2834.000000,2834.000000,2834.000000,2834.000000,2834.000000,2834.000000,2834.000000,...,2834.000000,2834.000000,2834.000000,2834.000000,2834.000000,2834.000000,2834.000000,2834.000000,2834.000000,2834.000000
mean,10.769231,6.335894e+07,6.434233e+07,82.845095,0.009174,-0.034227,-0.199365,-0.208892,-0.015879,-0.141849,...,-0.039167,0.066690,0.348624,0.024700,0.336627,-0.157375,0.011997,0.022230,0.173959,0.049047
std,6.473031,4.985699e+07,5.017314e+07,118.814507,0.758471,0.620192,0.607739,0.752531,0.534145,0.560173,...,0.661762,0.292509,0.539168,0.394218,0.699164,0.677356,0.701366,0.198476,0.820501,0.601264
min,1.000000,7.120000e+02,2.916900e+04,2.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,5.000000,2.695314e+07,2.812676e+07,9.000000,-1.000000,0.000000,-1.000000,-1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,-1.000000,0.000000
50%,11.000000,5.203528e+07,5.280112e+07,38.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,17.000000,8.733472e+07,8.827873e+07,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,23.000000,2.453086e+08,2.454338e+08,1522.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000

In [4]:
TC.head()

,Chromosome,Start,End,Nclone,Array.129,Array.34,Array.67,Array.24,Array.22,Array.36,...,Array.64,Array.89,Array.30,Array.35,Array.93,Array.10,Array.123,Array.100,Array.134,Array.130
0,1,2927,43870,3,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,-1,0
1,1,85022,216735,4,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,-1,0
2,1,370546,372295,4,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,-1,0
3,1,471671,786483,5,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,-1,0
4,1,792533,907406,13,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,-1,0

In [18]:
str(TC.Chromosome.values[0]) + '_'

'1_'

In [6]:
TClinical = pd.read_csv('./input/Train_clinical.txt', sep='\t')

In [7]:
TClinical

       Sample    Subgroup
0   Array.129       HER2+
1    Array.34         HR+
2    Array.67         HR+
3    Array.24  Triple Neg
4    Array.22  Triple Neg
5    Array.36         HR+
6    Array.49       HER2+
7    Array.16       HER2+
8   Array.146  Triple Neg
9   Array.143       HER2+
10   Array.65         HR+
11   Array.62  Triple Neg
12    Array.4       HER2+
13   Array.76       HER2+
14  Array.118  Triple Neg
15  Array.154  Triple Neg
16   Array.48         HR+
17    Array.6       HER2+
18   Array.39         HR+
19   Array.86         HR+
20  Array.112  Triple Neg
21   Array.79       HER2+
22  Array.124         HR+
23   Array.19       HER2+
24   Array.27         HR+
25  Array.106       HER2+
26  Array.110       HER2+
27   Array.69  Triple Neg
28   Array.73       HER2+
29   Array.95         HR+
..        ...         ...
70   Array.75       HER2+
71  Array.139       HER2+
72    Array.2         HR+
73  Array.117         HR+
74   Array.60         HR+
75   Array.38  Triple Neg
76   Array.72       HER2+
77  Array.104  Triple Neg
78  Array.137         HR+
79  Array.145  Triple Neg
80   Array.31  Triple Neg
81  Array.135  Triple Neg
82  Array.111  Triple Neg
83    Array.7         HR+
84   Array.21       HER2+
85   Array.53       HER2+
86   Array.59         HR+
87   Array.71  Triple Neg
88   Array.47  Triple Neg
89  Array.107  Triple Neg
90   Array.64  Triple Neg
91   Array.89         HR+
92   Array.30  Triple Neg
93   Array.35         HR+
94   Array.93  Triple Neg
95   Array.10       HER2+
96  Array.123         HR+
97  Array.100         HR+
98  Array.134         HR+
99  Array.130       HER2+

[100 rows x 2 columns]

In [40]:
TC['biomarkers'] = TC['Chromosome'].map(str) + '_' + TC['Start'].map(str) + '_' + TC['End'].map(str)

In [44]:
TC.head()

,Chromosome,Start,End,Nclone,Array.129,Array.34,Array.67,Array.24,Array.22,Array.36,...,Array.89,Array.30,Array.35,Array.93,Array.10,Array.123,Array.100,Array.134,Array.130,biomarkers
0,1,2927,43870,3,0,0,0,0,0,0,...,0,1,0,0,0,0,0,-1,0,1_2927_43870
1,1,85022,216735,4,0,0,0,0,0,0,...,0,1,0,0,0,0,0,-1,0,1_85022_216735
2,1,370546,372295,4,0,0,0,0,0,0,...,0,1,0,1,0,0,0,-1,0,1_370546_372295
3,1,471671,786483,5,0,0,0,0,0,0,...,1,1,0,1,0,0,0,-1,0,1_471671_786483
4,1,792533,907406,13,0,0,0,0,0,0,...,1,1,0,1,0,0,0,-1,0,1_792533_907406

In [25]:
TC = TC.drop(columns="biomarkers")

In [27]:
# iterate over rows with iterrows()
for index, row in TC.head().iterrows():
     # access data using column names
     print(index, row['Chromosome'], row['Start'], row['End'])

0 1 2927 43870
1 1 85022 216735
2 1 370546 372295
3 1 471671 786483
4 1 792533 907406

In [45]:
tf_TC = TC.drop(columns=["Chromosome", "Start", "End", "Nclone"])

In [47]:
# Get the DataFrame column names as a list
clist = list(tf_TC.columns)

# Rearrange list the way you like 
clist_new = clist[-1:]+clist[:-1]   # brings the last column in the first place

# Pass the new list to the DataFrame - like a key list in a dict 
tf_TC = tf_TC[clist_new]
tf_TC

,biomarkers,Array.129,Array.34,Array.67,Array.24,Array.22,Array.36,Array.49,Array.16,Array.146,...,Array.64,Array.89,Array.30,Array.35,Array.93,Array.10,Array.123,Array.100,Array.134,Array.130
0,1_2927_43870,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,-1,0
1,1_85022_216735,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,-1,0
2,1_370546_372295,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,-1,0
3,1_471671_786483,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,-1,0
4,1_792533_907406,0,0,0,0,0,0,0,-1,0,...,0,1,1,0,1,0,0,0,-1,0
5,1_912799_1266212,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,-1,0
6,1_1271190_1590570,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,-1,0
7,1_1676445_1703748,0,0,0,-1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,-1,0
8,1_1738295_2477597,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,-1,0
9,1_2481927_2562342,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,-1,0
10,1_2574555_2580342,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,-1,0
11,1_2611444_2641811,0,0,0,0,1,0,0,0,0,...,1,1,1,0,1,2,1,0,1,0
12,1_2643540_2645074,0,0,0,0,1,0,0,0,0,...,1,1,1,0,1,0,1,0,1,0
13,1_2664285_2665530,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,-1,0
14,1_2672694_2832087,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,-1,0
15,1_2854198_2856899,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,-1,0
16,1_2870100_2880675,0,0,0,0,1,0,0,0,0,...,1,1,1,0,1,1,0,0,1,1
17,1_2882919_2901629,0,0,0,0,1,0,0,0,0,...,1,1,1,0,1,1,1,0,1,1
18,1_2903052_3112977,0,0,0,0,0,0,0,-1,0,...,0,0,1,0,0,0,0,0,-1,0
19,1_3125822_3135062,2,0,0,0,0,0,0,-1,0,...,0,0,1,0,0,0,2,0,-1,0
20,1_3136815_3137481,2,0,0,0,0,0,0,-1,0,...,0,0,1,0,0,0,2,0,-1,0
21,1_3149648_3157982,0,0,0,0,0,0,-1,-1,0,...,0,0,1,0,0,0,0,0,-1,0
22,1_3166706_3521038,0,0,0,0,0,0,-1,-1,0,...,0,0,1,0,0,0,0,0,-1,0
23,1_3521345_3798798,0,0,0,0,0,0,-1,-1,0,...,0,0,1,0,0,0,0,0,-1,1
24,1_3810936_6606212,0,0,0,0,0,0,-1,-1,0,...,0,0,1,0,0,0,0,0,-1,0
25,1_6613363_8038878,0,0,0,0,0,0,-1,-1,0,...,0,0,1,0,0,0,0,0,-1,0
26,1_8050444_10537398,0,0,0,0,0,0,-1,-1,0,...,0,0,1,0,0,0,0,0,-1,0
27,1_10551320_12533269,0,0,0,0,0,0,-1,-1,0,...,0,0,0,0,0,0,0,0,-1,0
28,1_12544104_12768740,0,0,0,0,0,0,-1,-1,0,...,0,0,0,0,0,0,0,0,-1,0
29,1_12774453_12788158,0,0,0,-1,0,0,-1,-1,0,...,0,0,0,0,0,0,0,0,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2804,23_89922998_90087775,1,1,1,1,1,1,1,0,1,...,1,1,1,1,2,1,0,1,1,1
2805,23_90107813_90588017,1,1,1,1,1,1,1,1,1,...,1,1,1,1,2,1,0,1,1,1
2806,23_90626987_90763396,1,1,1,1,1,1,1,0,1,...,1,1,1,1,2,1,0,1,1,1
2807,23_90837054_90936838,0,0,1,1,1,1,1,0,1,...,1,1,1,1,2,1,0,1,1,1
2808,23_90947440_91203848,1,0,1,1,1,1,1,0,1,...,1,1,1,1,2,1,0,1,1,1
2809,23_91234699_91344716,2,1,1,1,1,1,1,1,1,...,1,2,1,1,2,1,0,1,1,1
2810,23_91365063_91372700,1,0,1,1,1,1,1,0,1,...,1,1,1,1,1,1,0,1,1,1
2811,23_91404795_91459679,1,0,1,0,1,1,1,0,1,...,0,1,1,1,1,1,0,1,1,1
2812,23_91489731_91607636,0,0,1,0,1,1,1,0,1,...,0,1,1,0,1,1,0,1,1,1
2813,23_91632143_92103804,1,0,1,1,1,1,1,0,1,...,0,1,1,1,1,1,0,1,1,1
2814,23_92209094_95651579,2,1,1,1,1,1,2,1,1,...,1,1,1,1,0,1,1,1,1,1
2815,23_95696214_108087627,2,1,1,1,1,1,2,1,1,...,1,1,1,1,1,1,1,1,1,1
2816,23_108169857_122414714,2,1,1,2,1,1,2,1,1,...,1,1,1,1,1,1,1,1,1,1
2817,23_122417938_131366673,2,1,1,2,1,1,2,1,1,...,1,1,1,1,1,1,1,1,1,1
2818,23_131385521_132949963,2,1,1,2,1,1,2,1,1,...,1,1,1,1,1,1,1,1,1,1
2819,23_132998038_140285388,2,1,1,0,1,1,2,1,1,...,1,1,1,1,1,1,1,1,1,1
2820,23_140416671_144045173,2,1,1,0,1,1,2,1,1,...,1,1,1,1,1,1,1,1,1,1
2821,23_144052935_145145074,2,1,1,0,1,1,2,1,1,...,1,1,1,1,1,1,1,1,1,1
2822,23_145164724_149589730,2,1,1,0,1,1,2,1,1,...,1,1,1,1,1,1,1,1,1,1
2823,23_149594807_151064869,2,1,1,0,1,1,2,1,1,...,1,1,1,1,1,1,1,1,1,1
2824,23_151067607_152416606,2,1,1,0,1,1,2,1,1,...,1,1,1,1,1,1,1,1,1,1
2825,23_152422390_152548587,2,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2826,23_152552851_152570071,2,1,1,0,1,0,1,1,1,...,1,1,1,1,1,0,1,1,1,1
2827,23_152576854_152935130,2,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2828,23_152994680_153054487,0,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2829,23_153062077_153452633,1,1,1,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
2830,23_153466463_153491568,1,1,1,0,1,1,1,1,1,...,2,1,1,1,1,1,1,1,1,1
2831,23_153504394_153933426,1,1,1,0,1,1,1,1,1,...,2,1,1,1,1,1,1,1,1,1
2832,23_153938998_153989329,1,1,1,0,1,1,1,1,1,...,2,1,1,1,1,1,1,1,1,1
2833,23_153997146_154492924,1,1,1,0,1,1,1,1,1,...,2,1,1,1,1,1,1,1,1,1

In [48]:
TCall = tf_TC.T

In [50]:
TCall.head()

,0,1,2,3,4,5,6,7,8,9,...,2824,2825,2826,2827,2828,2829,2830,2831,2832,2833
biomarkers,1_2927_43870,1_85022_216735,1_370546_372295,1_471671_786483,1_792533_907406,1_912799_1266212,1_1271190_1590570,1_1676445_1703748,1_1738295_2477597,1_2481927_2562342,...,23_151067607_152416606,23_152422390_152548587,23_152552851_152570071,23_152576854_152935130,23_152994680_153054487,23_153062077_153452633,23_153466463_153491568,23_153504394_153933426,23_153938998_153989329,23_153997146_154492924
Array.129,0,0,0,0,0,0,0,0,0,0,...,2,2,2,2,0,1,1,1,1,1
Array.34,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Array.67,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
Array.24,0,0,0,0,0,0,0,-1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
TCall.to_csv('modified_train_call.csv', index=True)

In [57]:
md_TC = pd.read_csv('modified_train_call.csv')

In [58]:
md_TC.head()

,Sample,1_2927_43870,1_85022_216735,1_370546_372295,1_471671_786483,1_792533_907406,1_912799_1266212,1_1271190_1590570,1_1676445_1703748,1_1738295_2477597,...,23_151067607_152416606,23_152422390_152548587,23_152552851_152570071,23_152576854_152935130,23_152994680_153054487,23_153062077_153452633,23_153466463_153491568,23_153504394_153933426,23_153938998_153989329,23_153997146_154492924
0,Array.129,0,0,0,0,0,0,0,0,0,...,2,2,2,2,0,1,1,1,1,1
1,Array.34,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2,Array.67,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3,Array.24,0,0,0,0,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,0
4,Array.22,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1

In [59]:
result = pd.merge(md_TC,
                  TClinical[['Sample', 'Subgroup']],
                  on=['Sample'],
                  how='left')

In [61]:
result = result.drop(columns="Sample")

In [65]:
from sklearn.feature_selection import SelectKBest
k_best = SelectKBest(k=10)
k_best.fit(result, result['Subgroup'])
scores = k_best.scores_

ValueError: could not convert string to float: 'HER2+'

In [66]:
result['Subgroup']

0          HER2+
1            HR+
2            HR+
3     Triple Neg
4     Triple Neg
5            HR+
6          HER2+
7          HER2+
8     Triple Neg
9          HER2+
10           HR+
11    Triple Neg
12         HER2+
13         HER2+
14    Triple Neg
15    Triple Neg
16           HR+
17         HER2+
18           HR+
19           HR+
20    Triple Neg
21         HER2+
22           HR+
23         HER2+
24           HR+
25         HER2+
26         HER2+
27    Triple Neg
28         HER2+
29           HR+
         ...
70         HER2+
71         HER2+
72           HR+
73           HR+
74           HR+
75    Triple Neg
76         HER2+
77    Triple Neg
78           HR+
79    Triple Neg
80    Triple Neg
81    Triple Neg
82    Triple Neg
83           HR+
84         HER2+
85         HER2+
86           HR+
87    Triple Neg
88    Triple Neg
89    Triple Neg
90    Triple Neg
91           HR+
92    Triple Neg
93           HR+
94    Triple Neg
95         HER2+
96           HR+
97           HR+
98           HR+
99         HER2+
Name: Subgroup, Length: 100, dtype: object